.App1{
  margin: 0px;
  background-image: url("../images/tips_bg.jpg");
  font-size: 2rem;
  text-align: center;
}

#home-button-main{
  display: flex;
  position: sticky;
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

#testimonials-header{
  background-image: linear-gradient(90deg,#ffffff,#007bff);
  color: #ffffff;
  margin-top: 1rem;
  border: 2px white solid;
  box-shadow: 0 0 10px #007bff;
  border-radius: 50px;
}

#testimonials-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#testimonial{
  height: 29vh;
  width: 24vw;
  border: 2px white solid;
  box-shadow: 0 0 10px #007bff;
  margin: 1rem 10rem 1rem 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: #007bff;
  color: #ffffff;
}

#hovertext_test{
  padding: 5px;
  font-family: 'Arial';
  font-size: 1rem;
  text-align: center;
  
}

#testimonial:hover{
  background-color: #ffffff;
  color: black;
}
