a{
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}
.App{
  margin: 0px;
  background-image: url("../images/tips_bg.jpg");
  font-size: 2rem;
  text-align: center;
}

#home-button-main{
  background-color: #007bff;
  color: #ffffff;
  display: flex;
  position: sticky;
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0px 0px 50px 50px;
}

#tips-header{
  background-image: linear-gradient(90deg,#ffffff,#007bff);
  color: #ffffff;
  margin-top: 1rem;
  border: 2px white solid;
  box-shadow: 0 0 10px #007bff;
  border-radius: 50px;
}

#tips-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#tip-0{
  background-image: linear-gradient(120deg,#ffffff,#007bff);
  height: 20vh;
  width: 24vw;
  border: 2px white solid;
  box-shadow: 0 0 10px #007bff;
  margin: 1rem 10rem 1rem 10rem;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

#hovertext{
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
}

#tip-0:hover{
  background-color: #ffffff;
  background-image: none;
  color: #007bff;
}