h1#heading {
  padding: 5px;
  width:90vw;
  margin:50px auto;
  background-color: azure;
  border-radius: 50px; 
  
}

#home-button-main{
  background-color: #007bff;
  color: #ffffff;
  display: flex;
  position: sticky;
  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

div.flexbox-container {
  padding:15px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

#event_list button {
  display:block;
  margin-bottom: 10px;
  width: 420px;
  height: 69px;
}

#rehab_event{
  background-image: url("../images/better_rehab.jpg");
  padding-bottom: 0.8rem;
}

h3#rehab_event_info {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;
  padding: 20px;
}

button#rsvp_link {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px; /* Add some margin between buttons */
  cursor: pointer;
  font-size: 2rem;
  display: none;
}