#Navbar
{
    display:contents;
    float: left;
    padding: 30px;
    justify-content:flex-start;
    margin: 1%;
}
#therapist_home
{
    color: black;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    
}

#heading_therapist
{
    font-size: 46px;
    margin: auto;
    font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
}
#section_therapist
{
    display: flex;
    margin: auto;
}
#image_therapist
{
    width:130px;
    border-radius: 19px;
    padding: 10px;
}
#info_therapist
{
    display:flex;
    border: 3px solid #007bff;
    border-radius: 2rem;
    margin: 72px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
#therapist_book_now_button{
    display:flex;
    align-items: center;
    justify-content: center;
}
#info_therapist:hover{
    margin: 52px;
    box-shadow: 3px 3px 7px 7px #007bff;
    animation: slide 100ms  linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes slide {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.03);
    }
}
#name_therapist
{
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    padding: 7px;
    margin-top: 8px;
}
#profession_therapist
{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    padding: 7px;

}
#reviews_therapist
{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    padding: 7px;

}
#exp_therapist
{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif; 
    padding: 7px;
    margin-bottom: 8px;
}
#info_therapist_2
{
    display: grid;
    
}
#info_therapist_bookings
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding-left: 6px;
    font-weight: bold;
    
}
#tick_image
{
    width: 30px;
    margin-top: 1px;
}
#book_therapist
{
    background-color: #007bff;
    color: white;
    font-size: 18px;
    display:flex;
    width: 234px;
    padding: 10px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
#book_therapist:hover
{
    box-shadow: 2px 1px 2px 3px #000000;
}

#better_thera{
    background-image: url("../images/better_thera.jpg");
}

