body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff;
    padding: 10px;
    text-align: right;
    height: 10px;
}

main{
    background-image: url("../images/better_home.jpg");
    padding-bottom: 80px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px #007bff;
    font-size: 2rem;
}

#main-title {
    font-size: 48px; /* Increase font size */
    margin: 20px 0;
    text-decoration: none;
}

.button-array {
    display: flex; /* Make the button array horizontal */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px;
    
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px; /* Add some margin between buttons */
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background-color: #0056b3;
}

#down{
    margin-top: 30px;
}

#demo{
    margin-top: 20px;
    color: #007bff;
}